*

!deepfake/
!preprocessing/

deepfake/.log
deepfake/checkpoints
preprocessing/h5
preprocessing/utils/__pycache__/
preprocessing/png/
deepfake/xception_pretrain/
preprocessing/bboxes/
deepfake/visualize/features/
deepfake/visualize/results/
deepfake/config/*
__pycache__/
*.pyc